:root {
    --main-blue: #54D1ED;
    --strong-black: #58506B;
    --soft-black: #817699;
    --white: #FFFFFF;
    --green: #41CF69;
    --grey: #A99DC6;
    --gree-footer: #DADADA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
.containerbox { 
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 359px;
    height: 230px;
    margin-top: 40px;
    margin-left: 24px;
    margin-right: 24px;
    padding: 20px;
    background:linear-gradient(to bottom, rgba(44, 82, 216, 0) 0%, rgba(44, 82, 216, 0.4) 100%), rgba(84, 209, 237, 1);
    background-blend-mode: multiply, normal;    
    border-radius: 20px;      
    box-shadow: 0px 8px 20px white; 
    font-family: Open Sans;
    font-weight: 600;
    color: var(--white);
}
.containerbox--img-2 {
    max-width: 190px;
    padding: 15px;
    height: 80px;  
    position: absolute;
    top:85px;
    size: 30px;
    margin-right: 20px;
    margin-left: 110px;
}
.containerboxb--1{
   display: flex;
   justify-content: left;
   align-content: space-around;
   position: absolute;
   padding: 5px;
   max-width: 150px;
   margin: 30px 190px 150px 30px;  
   font-size: 18px;     
}

.containerboxb--2{
    display: flex;
    justify-content: left;
    align-content: space-around;
    position: absolute;
    max-width: 60px; 
    margin: 140px 210px 59px 20px;  
    font-size: 14px;     
}

.containerboxb--3{
    display: flex;
    justify-content: left;
    align-content: space-around;
    position: absolute;
    max-width: 190px;
    padding: 20px;
    margin: 165px 122px 15px 30px;  
    font-size: 36px;     
}

.main-table-container {
    display: grid;
    grid-template-columns: 2fr;
    background-color: #FFFFFF;
    max-width: 327px;
    height: 102px;
    font-family: Open Sans;
    font-weight: 400;
    font-size: 14px;
    color: #58506B;
    margin: 22px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;   
    
}

.top-left {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 12px;
    margin-left: 12px;
}

.top-right {
    font-weight: 600;
    padding-left: 60px; 
}

                             
.bottom-left{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 9px;
    margin-left: 12px;
}


.bottom-right{    
    font-weight: 600;
    padding-left: 70px;  
}

.barra{
    display: flex;
    justify-content:center;
    align-content: center;
}



